* {margin: 0; padding: 0;}

.farming{
	width:100%;
	height:127vh;
	background-image: url(farming2.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.stubble-burning-heading{
	width:fit-content;
	margin: auto;
	font-size: 50px;
	font-weight: 700;
	color:  rgb(72,209,204);
}

  
@keyframes example2 {
	0%   {  bottom:160vh;}
	25%  {  bottom:140vh;}
	50%  {  bottom:100vh;}
	75%  {bottom:50vh;}
	100% {  bottom:0vh;}
  }

.tree_1 ul {
	padding-top: 20px; position: relative;
	animation-name: example2;
	animation-duration: 8;
	animation-delay: 1; 
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree_1 li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree_1 li::before, .tree_1 li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree_1 li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree_1 li:only-child::after, .tree_1 li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree_1 li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree_1 li:first-child::before, .tree_1 li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree_1 li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree_1 li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree_1 ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree_1 li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	position: relative;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree_1 li a:hover{
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
	opacity: 1;
}

.image_1{
	width: 250px;
}

.container_1 {
	position: relative;
}

.overlay_1 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #008CBA;
  }
  

.text_1 {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
  }

.container_1:hover .overlay_1{
	opacity: 0.75;
}